version: '3.8'

services:
  whisper-server:
    build: .
    container_name: whisper-streaming-server
    ports:
      - "9000:9000"
    volumes:
      # Logs directory
      - ./logs:/app/logs
    env_file: .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    restart: unless-stopped
